@page
@model Website.Pages.MenuModel
@{
	ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu;

<head>
	<title>Menu</title>
</head>

<h1>Menu</h1>

<div id="results">
	<form method="post">
		<input type="text" name="Search" id="Search" value="@Model.Search" />
		<input type="submit" value="Search And Filter" />

		<h2>Category</h2>
		<label>
			<input type="checkbox" name="CategoryFilter" value="Combo" checked="@Model.CategoryFilter.Contains("Combo")" />
			Combo
		</label>
		<label>
			<input type="checkbox" name="CategoryFilter" value="Entree" checked="@Model.CategoryFilter.Contains("Entree")" />
			Entree
		</label>
		<label>
			<input type="checkbox" name="CategoryFilter" value="Side" checked="@Model.CategoryFilter.Contains("Side")" />
			Side
		</label>
		<label>
			<input type="checkbox" name="CategoryFilter" value="Drink" checked="@Model.CategoryFilter.Contains("Drink")" />
			Drink
		</label>

		<h2>Price</h2>
		<label>
			Minimum Price:
			<input type="number" min="0" step="0.01" name="MinPrice" value="@Model.MinPrice" />
		</label>

		<label>
			Maximum Price:
			<input type="number" min="0" step="0.01" name="MaxPrice" value="@Model.MaxPrice" />
		</label>

		<h2>Ingredient(s) to Hide</h2>
		@foreach (string ingredient in Model.PossibleIngredients)
		{
			<label>
				<input type="checkbox" name="IngredientFilter" value="@ingredient" checked="@Model.IngredientFilter.Contains(ingredient)" />
				@ingredient
			</label>
		}
	</form>
</div>

<h2>Entrees</h2>
<div>
	@foreach (IMenuItem e in Model.Items.Where(e => e is Entree))
	{

		<div class="menu-item">
			<div class="item-name">@e.ToString()</div>
			<div class="subItem">@(e.Price.ToString("C2"))</div>
			<div class="subItem">@(e.Calories + " Calories")</div>
			<div class="subItem">
				Ingredients:
				@foreach (string ing in e.Ingredients)
				{
					<div>@("---" + ing)</div>
				}
			</div>
		</div>

	}
</div>

<h2>Combos</h2>
<div>
	@foreach (IMenuItem c in Model.Items.Where(c => c is CretaceousCombo))
	{

		<div class="menu-item">
			<div class="item-name">@c.ToString()</div>
			<table border="1">
				<tr>
					<th>Size</th>
					<th>Price</th>
					<th>Calories</th>
				</tr>
				<tr>
					<td>Small</td>
					<td>@($"${c.Price}")</td>
					<td>@c.Calories</td>
				</tr>

				<tr>
					<td>@(((CretaceousCombo)c).Size = Size.Medium)</td>
					<td>@($"${c.Price}")</td>
					<td>@c.Calories</td>
				</tr>

				<tr>
					<td>@(((CretaceousCombo)c).Size = Size.Large)</td>
					<td>@($"${c.Price}")</td>
					<td>@c.Calories</td>
				</tr>
			</table>
			<div class="subItem">
				Ingredients:
				@foreach (string ing in c.Ingredients)
				{
					<div>@("---" + ing)</div>
				}
			</div>
		</div>

	}
</div>
<h2>Drinks</h2>
<div>
	@foreach (IMenuItem d in Model.Items.Where(d => d is Drink))
	{

	<div class="menu-item">
		<div class="item-name">@d.ToString()</div>
		<table border="1">
			<tr>
				<th>Size</th>
				<th>Price</th>
				<th>Calories</th>
			</tr>
			<tr>
				<td>Small</td>
				<td>@($"${d.Price}")</td>
				<td>@d.Calories</td>
			</tr>
			
			<tr>
				<td>@(((Drink)d).Size = Size.Medium)</td>
				<td>@($"${d.Price}")</td>
				<td>@d.Calories</td>
			</tr>
			
			<tr>
				<td>@(((Drink)d).Size = Size.Large)</td>
				<td>@($"${d.Price}")</td>
				<td>@d.Calories</td>
			</tr>
		</table>
		<div class="subItem">
			Ingredients:
			@foreach (string ing in d.Ingredients)
			{
				<div>@("---" + ing)</div>
			}
		</div>
	</div>

	}
</div>

<h2>Sides</h2>
<div>
	@foreach (IMenuItem s in Model.Items.Where(s => s is Side))
	{

	<div class="menu-item">
		<div class="item-name">@s.ToString()</div>
		<table border="1">
			<tr>
				<th>Size</th>
				<th>Price</th>
				<th>Calories</th>
			</tr>
			<tr>
				<td>Small</td>
				<td>@($"${s.Price}")</td>
				<td>@s.Calories</td>
			</tr>

			<tr>
				<td>@(((Side)s).Size = Size.Medium)</td>
				<td>@($"${s.Price}")</td>
				<td>@s.Calories</td>
			</tr>

			<tr>
				<td>@(((Side)s).Size = Size.Large)</td>
				<td>@($"${s.Price}")</td>
				<td>@s.Calories</td>
			</tr>
		</table>
		<div class="subItem">
			Ingredients:
			@foreach (string ing in s.Ingredients)
			{
				<div>@("---" + ing)</div>
			}
		</div>
	</div>

	}
</div>

